include README.md
include MANIFEST.in
include LICENSE
include setup.cfg
recursive-include pylint_json2html *.py
recursive-include pylint_json2html/templates *.jinja2
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *
